.titulo{
    background-color: blueviolet;
    margin: none;
    display:grid;
}

.body{
    grid-template-rows: 100px 100px 100px;
    background-color:rgb(205, 111, 10);
    padding: 2em;
}

/* .alt{
    grid-template-rows: 50px 50px 50px;
    background-color: rgb(104, 205, 10);
} */


